/* You can add global styles to this file, and also import other style files */
html, body {
    margin: 0;
    padding: 0;
    height: 100%;
  }
  
  body {
    background-color: #f5f5f5;
  }
  
  .mat-drawer-container {
    background-color: transparent !important;
  }
  
  .mat-drawer-backdrop.mat-drawer-shown {
    background-color: rgba(0, 0, 0, 0.6);
  }

  body {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
  }
  
  .mat-drawer-container {
    background-color: transparent !important;
  }
  
  .mat-drawer-backdrop.mat-drawer-shown {
    background-color: rgba(0, 0, 0, 0.6);
  }